.editPanel {
    display: flex;
    flex-direction: column;
    height: 10vh;
    width: 15vw;
}

.panelButtons {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    height: 3vh;
}

@media all and (max-width: 1080px) {
    .panelButtons {
        flex-direction: column;
        height: 6vh;
    }
}
