.rootLayout {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.background {
    z-index: -10;
    animation: backgroundAppear;
    animation-duration: 4s;
    transition-timing-function: ease-in-out;
    opacity: 0.5;
}

@keyframes backgroundAppear {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 0.5;
    }
}