.main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 85vh;
    width: 100%;
}

.contentPanelWithTree {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.businessNamePanelTree {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 40vh;
    margin-top: 10vh;
    margin-bottom: 10vh;
}

.contentPanel 
/* these properties should match .table in pageTable.module.css*/ {
    padding-left: 2.25vw;
    height: 85vh;
    scrollbar-color: #003a6b transparent;
    overflow: auto;
}

.contentPanel::-webkit-scrollbar-thumb {
    background: #003a6b;
    border-radius: 1vw;
}

.contentPanel::-webkit-scrollbar {
    background: transparent;
}

.contentPanel::-webkit-scrollbar-thumb {
    background: #003a6b;
    border-radius: 1vw;
}

.contentPanel::-webkit-scrollbar {
    background: transparent;
}
