
.grid {
    display: grid;
    grid-template-columns: 
    [first-column]2% [middle-column]repeat(6, minmax(10%, auto)) [last-column]5%;
    width: 100%;
    text-align: center;
    column-gap: 2vw;
    align-items: center;
  }

.link {
    display: flex;
    height: 5vh;
    background-color: transparent;
    justify-content: center;
    text-align: center;
    align-items: center;
    color: #0e1122;
    font-weight: 500;
}

.websiteAuthor {
    font-size: 2vw;
    font-weight: 700
}

.linkListStart {
    grid-column-start: 5;
}

.linkDeveloper {
    grid-column-start: 8;
}
  
.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 2vw;
    padding-right: 2vw;
    padding-top: 1vh;
    padding-bottom: 0.5vh;
    font-size: 1.5vw;
    background-color: #bac1df;
    z-index: 5
}

.account {
    display: flex;
    flex-direction: row;
    height: 3vh;
    justify-content: center;
    text-align: center;
    align-items: center;
  }
