
.grid {
    display: grid;
    grid-template-columns: repeat(6, minmax(20%, auto));
    max-width: 100%;
    width: var(--max-width);
    text-align: center;
    column-gap: 2vw;
    align-items: center;
  }

.link {
    display: flex;
    height: 5vh;
    background-color: #00A5E9;
    justify-content: center;
    text-align: center;
    align-items: center;
    color:floralwhite;
    
}

.developerLogin {
    grid-column-start: 6;
    font-size: 1vw;
}

.link:hover {
    background-color:#003A6B;
    animation: slideInFromBottom;
    animation-duration: 2s;
    transition-timing-function: ease-in;
}
  
.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 100%;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 3vh;
    padding-bottom: 2vh;
    font-size: 1.5vw;
    border-bottom: 0.5vh solid;
    border-color: #003A6B;
}

.account {
    display: flex;
    flex-direction: row;
    height: 3vw;
    justify-content: center;
    text-align: center;
    align-items: center;
  }

@keyframes slideInFromBottom {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
        
    }
}