
.grid {
    display: grid;
    grid-template-columns: 
    [first-column]5% [rest]repeat(5, minmax(20%, auto));
    max-width: 100%;
    width: var(--max-width);
    text-align: center;
    column-gap: 2vw;
    align-items: center;
  }

.link {
    display: flex;
    height: 5vh;
    background-color: transparent;
    justify-content: center;
    text-align: center;
    align-items: center;
    color:floralwhite;
    font-weight: 800;
}

.linkDeveloper {
    grid-column-start: 6;
    font-size: 1vw;
}
  
.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 100%;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 3vh;
    padding-bottom: 2vh;
    font-size: 1.5vw;
    border-bottom: 0.5vh solid;
    border-color: #003A6B;
    z-index: 5
}

.account {
    display: flex;
    flex-direction: row;
    height: 3vw;
    justify-content: center;
    text-align: center;
    align-items: center;
  }
