.businessNamePanel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    background-color: rgb(229, 236, 253);
    border-radius: 2vh;
    scale: 1.1;
}

.businessNameOwnerTitle {
    padding-top: 3vh;
    padding-bottom: 3vh;
    padding-left: 5vw;
    padding-right: 5vw;
    font-size: 10vw;
    font-weight: 900;
    font-family: 'Verdana', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(3, 3, 39);
    opacity: 0;
}

.businessNameOwnerOccupation {
    padding-top: 3vh;
    padding-bottom: 3vh;
    padding-left: 5vw;
    padding-right: 5vw;
    font-size: 5vw;
    font-family: 'Verdana', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 700;
    color: rgb(3, 3, 39);
    opacity: 0;
}

@media all and (max-height: 700px) {
    .businessNameOwnerTitle {
        font-size: 8vh;
    }

    .businessNameOwnerOccupation {
        font-size: 7vh;
    }
}
